            <div class="card card-inverse card-primary w-fx-20 h-75 mb-4 mr-2">
                <div class="text-center p-2 bg-white w-100 font-weight-bold">
                    <img  src="/svg/dropdown/projets.svg" alt="projets.svg"> Projets
                </div>
                  <div class="card-blockquote">
                    <% if @i.project_img.attached? %>
                      <%= image_tag @i.project_img, class:"w-100 h-12" %>
                    <% else %>
                      <img class="w-100 h-12" src="/directory/user.jpeg" alt="" />
                    <% end %>
                  </div>
                  <footer>
                    <div class="w-100 text-center pt-3 text-uppercase bg-white font-weight-bold height-about-title overflow-hidden">
                        <%= @i.title %>
                    </div>
                    <div class="w-100 p-2 h-index-os bg-white">
                        <%= @i.description %>
                    </div>
                    <div class="p-2">
                        <a href="#" class="btn btn-primary w-30 mr-2">Details</a>
                        <a href="<%= edit_dashboard_my_project_path(@i) %>" class="btn btn-success w-30 mr-2">Modifier</a>
                        <a href="<%= edit_dashboard_animation_path(@i) %>" class="btn btn-danger w-30">Annime</a>
                    </div>
                  </footer>
            </div>